/target/
/build/
/nbproject/
/eclipse/
/.gradle/
/.idea/
/.settings/
/.apt_generated/
/.apt_generated_tests/
/out/
/bin/
/.fleet/
/.classpath
/.factorypath
/.project
/nbactions.xml
/dependency-reduced-pom.xml
/.dccache
/.vscode
/.env
.DS_STORE
*.log
*.iml
